* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.imageWrapper {
    width: 100vw;
}

.imageWrapper img {
    width: 100%;
}

.mapButton {
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-color: rosybrown;
    border: 1px solid indianred;
    margin-top: 20px;
}

.countries-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: fit-content;
}

.country-article {
    width: 250px;
    margin: 20px;
}
